* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    padding: 25px;
    font-size: 16px;
  }
  [v-cloak] {
    display: none;
  }
  h2 {
    color: darkgreen;
  }
  hr{
    margin: 2rem 0;
  }
  .hr1{
    border: 5px solid grey;
    border-radius: 5px
  }
  .hr2{
    border: 5px dashed rgb(103, 190, 234);
    border-radius: 5px;
  }
  button {
    padding: 8px 15px;
    font-size: 1rem;
    margin: 0.3rem;
    box-shadow: inset 0 0 10px 3px gray;
    border: none;
    cursor: pointer;
  }
  input, select {
    display: block;
    padding: .5rem 2rem;
    font-size: 1rem;
    margin: .5rem;
    box-shadow: inset 0 0 10px 3px gray;
    border: none;
    cursor: pointer;
  }
  input:focus, select:focus {
    border: 1px solid #000;
    outline: none;
    box-shadow: 1px 1px 3px rgb(79, 78, 78);
    background-color:rgb(79, 78, 78);
    color: #fff;
  }
  input[type="date"]:focus {
    box-shadow: inset 0px 0px 10px 3px rgb(208, 207, 207);
    background-color: #ffffff;
    color: #000;

  }
  .x-text {
    font-weight: bold;
    color: darkorange;
    font-size: 1.5rem;
  }
  #text-container {
    min-height: 2.2rem;
    border: 1px dotted darkgoldenrod;
    width: fit-content;
  }
  li {
    /* list-style: none; */
    margin-bottom: 0.5rem;
    color: darkred;
  }
  .s-text {
    display: inline-block;
    font-weight: 600;
    background-color: darkgreen;
    color: white;
    padding: 0.4rem 0.8rem;
    margin: 0.5rem;
    border: 1px dotted yellowgreen;
    border-radius: 0.3rem;
  }
  .asist-text {
    font-size: .6rem;
  }
  /* =============================================== */
  .green{
    border: 3px solid green;
    padding: 5px;
  }
  .red{
    background-color: red;
  }
  .active{
    font-size: 30px;
  }
  /* =============================================== */
  a{
    text-decoration: none;
    color: darkgreen;
    display: inline-block;
    padding: 0.8rem 2rem;
    /* border: 1px solid darkmagenta; */
    border-radius: 3px;
    box-shadow: 0px 0px 5px 3px rgb(71, 127, 201) inset;
    transition: transform 1s ease;
    width: fit-content;
    margin: 0.1rem;
  }  
  a:hover{
    transform: translate(0, -5px);
  }
  .vue-a{
    text-decoration: none;
    display: inline-block;
    padding: 0;
    /* border: 1px solid darkmagenta; */
    border-radius: 3px;
    box-shadow: none;
    transition: transform 1s ease;
    width: fit-content;
    margin: 0;
  }
  .flex-items{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }
  img{
    max-width: 100%;
  }
  .centered {
    border: 1px solid darkmagenta;
    text-align: center;
  }
  table {
    border-collapse: collapse;
    border: 1px dotted lightgrey;
  }
  table tr {
    border-bottom: 1px dotted lightgrey;
  }
  table th, table td {
    border-right: 1px dotted lightgrey;
    padding: 0 .5rem;
  }
  table th {
    color: rgb(13, 86, 17);
    font-size: 0.8rem;
  }
  table td {
    color: rgb(65, 65, 65);
    font-size: 0.8rem;
  }
  .w5 {
    min-width: 5rem;
  }
  .w10 {
    min-width: 10rem;
  }
  .w15 {
    min-width: 15rem;
  }
  .w20 {
    min-width: 20rem;
  }
  .w30 {
    min-width: 30rem;
  }
  .change{
    background: rgb(208, 236, 162);
  }
  .fz10 {
    font-size: 0.8rem;
  }
  fieldset {
    background-color: rgb(211, 192, 229);
    border: none;
  }
  .img-tm{
    margin-right: 2rem;
    max-width: 10rem;
    height: auto;
  }